body{
    background-color: rgb(73, 43, 77);
    color:rgb(160, 81, 229);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    text-align: center;
    max-width: 75%;
}
button{
    background-color: rgb(22, 2, 31);
    color: rgb(97, 12, 154);
    padding: 20px;
}
.img01{
    width: 75%
}
.passo{
    display: none;
}
.passo.ativo{
    display: block;
}