body{
    background-color: rgb(149, 254, 143);
    color:rgb(178, 251, 104)
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    text-align: center;
    max-width: 75%;
}
button{
    background-color: darkseagreen;
    color: beige;
    padding: 20px;

.img01{
    width: 75%
}